{% extends "boards/base.html" %}
{% load bootstrap %}

{% block container %}
    {% if action == 'DETAIL' %}
        <h4>Backlog</h4>
        <div class="row">
            {% if stickers %}
                {% for sticker in stickers %}
                    <div class="col-md-15 col-sm-3">
                        <div class="sticker">
                            <div class="border {{ sticker.label.css_class }}">
                                <div class="sticker-header">
                                    <h5>
                                        {% if short_urls_allowed %}
                                            <a href="{% url 'boards:sticker-detail' sticker.board.prefix sticker.sequence %}">
                                        {% else %}
                                            <a href="{% url 'boards:sticker-detail' username sticker.board.prefix sticker.sequence %}">
                                        {% endif %}
                                                {{ sticker.caption }}
                                            </a>
                                    </h5>
                                    <div class="sticker-label smaller">
                                        <span class="label {{ sticker.label.css_class }}">{{ sticker.label.status }}</span>
                                    </div>
                                </div>
                                <div class="sticker-content">
                                    <div class="sticker-description">
                                        <p>
                                            {{ sticker.description|truncatechars:100 }}
                                        </p>
                                        <a href="#"></a>
                                    </div>
                                </div>
                                <div class="sticker-actions">
                                    <div>
                                        {% if short_urls_allowed %}
                                            <a class="sticker-number label bg-number" href="{% url 'boards:sticker-detail' sticker.board.prefix sticker.sequence %}">{{ sticker.number }}</a>
                                        {% else %}
                                            <a class="sticker-number label bg-number" href="{% url 'boards:sticker-detail' username sticker.board.prefix sticker.sequence %}">{{ sticker.number }}</a>
                                        {% endif %}
                                        {% if sticker.count_comments %}
                                            {% if short_urls_allowed %}
                                                <a href="{% url 'boards:sticker-detail' sticker.board.prefix sticker.sequence %}">
                                            {% else %}
                                                <a href="{% url 'boards:sticker-detail' username sticker.board.prefix sticker.sequence %}">
                                            {% endif %}
                                                    <span class="glyphicon glyphicon-comment"></span> {{ sticker.count_comments }}
                                                </a>
                                        {% else %}
                                            {% if short_urls_allowed %}
                                                <a href="{% url 'boards:sticker-detail' sticker.board.prefix sticker.sequence %}">
                                            {% else %}
                                                <a href="{% url 'boards:sticker-detail' username sticker.board.prefix sticker.sequence %}">
                                            {% endif %}
                                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Add a first comment
                                                </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="sticker">
                    <div class="border col-md-6 col-md-offset-3">
                        <div class="sticker-empty">
                            You have no sticker in backlog. Let's use action buttons below.
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if sprints %}
            {% for sprint in sprints %}
                <h4>
                    {% if short_urls_allowed %}
                        <a href="{% url 'boards:sprint-detail' board.sequence sprint.number %}">Sprint {{ sprint.number }}</a>
                    {% else %}
                        <a href="{% url 'boards:sprint-detail' username board.sequence sprint.number %}">Sprint {{ sprint.number }}</a>
                    {% endif %}
                </h4>
                <div class="row">
                    {% if sprint.sticker_set.exists %}
                        {% for sticker in sprint.sticker_set.all %}
                            <div class="col-md-15 col-sm-3">
                                <div class="sticker">
                                    <div class="border {{ sticker.label.css_class }}">
                                        <div class="sticker-header">
                                            <h5>
                                                {% if short_urls_allowed %}
                                                    <a href="{% url 'boards:sticker-detail' sticker.board.prefix sticker.sequence %}">
                                                {% else %}
                                                    <a href="{% url 'boards:sticker-detail' username sticker.board.prefix sticker.sequence %}">
                                                {% endif %}
                                                        {{ sticker.caption }}
                                                    </a>
                                            </h5>
                                            <div class="sticker-label smaller">
                                                <span class="label {{ sticker.label.css_class }}">{{ sticker.label.status }}</span>
                                            </div>
                                        </div>
                                        <div class="sticker-content">
                                            <div class="sticker-description">
                                                <p>
                                                    {{ sticker.description|truncatechars:100 }}
                                                </p>
                                                <a href="#"></a>
                                            </div>
                                        </div>
                                        <div class="sticker-actions">
                                            <div>
                                                {% if short_urls_allowed %}
                                                    <a class="sticker-number label bg-number" href="{% url 'boards:sticker-detail' sticker.board.prefix sticker.sequence %}">{{ sticker.number }}</a>
                                                {% else %}
                                                    <a class="sticker-number label bg-number" href="{% url 'boards:sticker-detail' username sticker.board.prefix sticker.sequence %}">{{ sticker.number }}</a>
                                                {% endif %}
                                                {% if sticker.count_comments %}
                                                    {% if short_urls_allowed %}
                                                        <a href="{% url 'boards:sticker-detail' sticker.board.prefix sticker.sequence %}">
                                                    {% else %}
                                                        <a href="{% url 'boards:sticker-detail' username sticker.board.prefix sticker.sequence %}">
                                                    {% endif %}
                                                            <span class="glyphicon glyphicon-comment"></span> {{ sticker.count_comments }}
                                                        </a>
                                                {% else %}
                                                    {% if short_urls_allowed %}
                                                        <a href="{% url 'boards:sticker-detail' sticker.board.prefix sticker.sequence %}">
                                                    {% else %}
                                                        <a href="{% url 'boards:sticker-detail' username sticker.board.prefix sticker.sequence %}">
                                                    {% endif %}
                                                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Add a first comment
                                                        </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="sticker">
                            <div class="border col-md-6 col-md-offset-3">
                                <div class="sticker-empty">
                                    You have no sticker created in sprint #{{ sprint.number }}. Let's use action buttons below.
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% elif action == 'CREATE' %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 login">
                <div class="border">
                    <form action="?next={{next}}" role="form" method="post">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="pull-right btn btn-primary">Create board</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 sticker preview">
                <div class="border">
                    <div class="sticker-actions preview">
                        {% include 'boards/comments.html' %}
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    {% endif %}
{% endblock container %}

{% block footer %}
    {% if action %}
        <footer {% if action == 'DETAIL' and sprints %}class="board"{% endif %}>
        {% if action == 'DETAIL' %}
            {% if sprints %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-15 col-sm-3">
                        <h4>Sprints</h4>
                    </div>
                </div>
                <div class="row">
                    {% for sprint in sprints %}
                        <div class="col-xs-3 col-sm-2 placeholder">
                            <div class="board-thumbnail">
                                {% if short_urls_allowed %}
                                    <a class="circle img-responsive {% if is_current %}done{% endif %}" href="{% url 'boards:sprint-detail' board.sequence sprint.number %}">#{{ sprint.number }}</a>
                                {% else %}
                                    <a class="circle img-responsive {% if is_current %}done{% endif %}" href="{% url 'boards:sprint-detail' username board.sequence sprint.number %}">#{{ sprint.number }}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% if short_urls_allowed %}
                        <a class="btn btn-default" href="{% url 'boards:profile-detail' %}">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Back to profile page
                        </a>
                        <a class="btn btn-default" href="{% url 'boards:sprint-create' board_sequence %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Create new sprint
                        </a>
                        <a class="btn btn-default" href="{% url 'boards:sticker-create' board_sequence %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Create new sticker
                        </a>
                        <a class="btn btn-default" href="{% url 'boards:board-comments' board_sequence %}">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                            Comments {% if board.count_comments %}(<strong>{{ board.count_comments }}</strong>){% endif %}
                        </a>
                    {% else %}
                        <a class="btn btn-default" href="{% url 'boards:profile-detail' username %}">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Back to profile page
                        </a>
                        <a class="btn btn-default" href="{% url 'boards:sprint-create' username board_sequence %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Create new sprint
                        </a>
                        <a class="btn btn-default" href="{% url 'boards:sticker-create' username board_sequence %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Create new sticker
                        </a>
                        <a class="btn btn-default" href="{% url 'boards:board-comments' username board_sequence %}">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                            Comments {% if board.count_comments %}(<strong>{{ board.count_comments }}</strong>){% endif %}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% elif action == 'CREATE' %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% if short_urls_allowed %}
                        <a class="btn btn-default" href="{% url 'boards:profile-detail' %}">
                    {% else %}
                        <a class="btn btn-default" href="{% url 'boards:profile-detail' username %}">
                    {% endif %}
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Back to profile page
                        </a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% if short_urls_allowed %}
                        <a class="btn btn-default" href="{% url 'boards:board-detail' board.sequence %}">
                    {% else %}
                        <a class="btn btn-default" href="{% url 'boards:board-detail' username board.sequence %}">
                    {% endif %}
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Back to board #{{ board.sequence }}
                        </a>
                </div>
            </div>
        {% endif %}
        </footer>
    {% endif %}
{% endblock footer %}
