{% extends "boards/base.html" %}

{% block nav %}
    {{ block.super }}
    <div class="labels container-fluid">
        <div id="nav-todo" class="row">
            <div class="bg-todo col-xs-6 col-sm-3">
                <p>TO DO</p>
            </div>
            <div id="nav-inprogress" class="bg-inprogress col-xs-6 col-sm-3">
                <p>IN PROGRESS</p>
            </div>
            <div id="nav-inreview" class="bg-inreview col-xs-6 col-sm-3">
                <p>IN REVIEW</p>
            </div>
            <div id="nav-done" class="bg-done col-xs-6 col-sm-3">
                <p>DONE</p>
            </div>
        </div>
    </div>
{% endblock nav %}

{% block container %}
    <div class="row">
        <div id="todo" class="col-xs-6 col-sm-3">
            {% if stickers.open %}
                {% for sticker in stickers.open %}
                    <div class="sticker">
                        <div class="border bg-todo">
                            <div class="sticker-header">
                                <h5>{{ sticker.caption }}</h5>
                                <div class="sticker-label">
                                    <span class="label label-success">OPEN</span>
                                </div>
                            </div>
                            <div class="sticker-content">
                                <div class="sticker-description">
                                    <p>
                                        {{ sticker.description|truncatechars:100 }}
                                    </p>
                                    <a href="#"></a>
                                </div>
                            </div>
                            <div class="sticker-actions">
                                <div>
                                    {% if sticker.count_comments %}
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ sticker.count_comments }}
                                    {% else %}
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Add a first comment
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="sticker">
                    <div class="border bg-todo">
                        <div class="sticker-empty">
                            You have no sticker in <span class="label label-success">OPEN</span> state
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="inprogress" class="col-xs-6 col-sm-3">
            {% if stickers.in_progress %}
                {% for sticker in stickers.in_progress %}
                    <div class="sticker">
                        <div class="border bg-inprogress">
                            <div class="sticker-header">
                                <h5>{{ sticker.caption }}</h5>
                                <div class="sticker-label">
                                    <span class="label label-info">IN PROGRESS</span>
                                </div>
                            </div>
                            <div class="sticker-content">
                                <div class="sticker-description">
                                    <p>
                                        {{ sticker.description|truncatechars:100 }}
                                    </p>
                                    <a href="#"></a>
                                </div>
                            </div>
                            <div class="sticker-actions">
                                <div>
                                    {% if sticker.count_comments %}
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ sticker.count_comments }}
                                    {% else %}
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Add a first comment
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="sticker">
                    <div class="border bg-inprogress">
                        <div class="sticker-empty">
                            No sticker <span class="label label-info">IN PROGRESS</span> right now
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="inreview" class="col-xs-6 col-sm-3">
            {% if stickers.review %}
                {% for sticker in stickers.review %}
                    <div class="sticker">
                        <div class="border bg-inreview">
                            <div class="sticker-header">
                                <h5>{{ sticker.caption }}</h5>
                                <div class="sticker-label">
                                    <span class="label label-warning">IN REVIEW</span>
                                </div>
                            </div>
                            <div class="sticker-content">
                                <div class="sticker-description">
                                    <p>
                                        {{ sticker.description|truncatechars:100 }}
                                    </p>
                                    <a href="#"></a>
                                </div>
                            </div>
                            <div class="sticker-actions">
                                <div>
                                    {% if sticker.count_comments %}
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ sticker.count_comments }}
                                    {% else %}
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Add a first comment
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="sticker">
                    <div class="border bg-inreview">
                        <div class="sticker-empty">
                            No sticker <span class="label label-warning">IN REVIEW</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="done" class="col-xs-6 col-sm-3">
            {% if stickers.done %}
                {% for sticker in stickers.done %}
                    <div class="sticker">
                        <div class="border bg-done">
                            <div class="sticker-header">
                                <h5>{{ sticker.caption }}</h5>
                                <div class="sticker-label">
                                    <span class="label label-danger">DONE</span>
                                </div>
                            </div>
                            <div class="sticker-content">
                                <div class="sticker-description">
                                    <p>
                                        {{ sticker.description|truncatechars:100 }}
                                    </p>
                                    <a href="#"></a>
                                </div>
                            </div>
                            <div class="sticker-actions">
                                <div>
                                    {% if sticker.count_comments %}
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ sticker.count_comments }}
                                    {% else %}
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Add a first comment
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="sticker">
                    <div class="border bg-done">
                        <div class="sticker-empty">
                            You have no sticker <span class="label label-danger">DONE</span> yet
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <!-- Add the extra clearfix for only the required viewport -->
        <div class="clearfix visible-xs-block"></div>
    </div>
{% endblock container %}
