{% extends "boards/base.html" %}
{% load staticfiles %}

{% block container %}
<div class="jumbotron">
    <h1>Hello, Jan Kowalski!</h1>
    <div class="avatar">
        <img src="{% static 'profiles/img/avatars/001.jpg' %}" alt="User photo">
    </div>
    <blockquote>XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum</blockquote>
</div>
<div class="row placeholders">
    {% if boards %}
        {% for board in boards %}
            <div class="col-xs-3 col-sm-2 placeholder">
                <div class="board-thumbnail">
                    <h4> {{ board.title|title }}</h4>
                    {% if short_urls_allowed %}
                        <a class="circle img-responsive" href="{% url 'boards-board' board.sequence %}">#{{ board.sequence }}</a>
                    {% else %}
                        <a class="circle img-responsive" href="{% url 'boards-board' username board.sequence %}">#{{ board.sequence }}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="no-content">
            <h4>You have not created boards yet. You can do it right now clicking on button below.</h4>
            <a class="btn btn-primary btn-lg" href="#" role="button">Add board</a>
        </div>
    {% endif %}
</div>
{% endblock container %}