{% extends "boards/base.html" %} {% block container %}

{% load staticfiles %}
<div class="jumbotron">
    <h1>Hello, Jan Kowalski!</h1>
    <div class="avatar">
        <img src="{% static 'profiles/img/avatars/001.jpg' %}" alt="User photo">
    </div>
    <blockquote>XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum</blockquote>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>
<div class="row placeholders">
    <div class="col-xs-3 col-sm-2 placeholder">
        <h4>Board #1</h4>
        <span class="circle img-responsive "></span>
    </div>
    <div class="col-xs-3 col-sm-2 placeholder">
        <h4>Board #1</h4>
        <span class="circle img-responsive "></span>
    </div>
    <div class="col-xs-3 col-sm-2 placeholder">
        <h4>Board #1</h4>
        <span class="circle img-responsive "></span>
    </div>
    <div class="col-xs-3 col-sm-2 placeholder">
        <h4>Board #1</h4>
        <span class="circle img-responsive "></span>
    </div>
    <div class="col-xs-3 col-sm-2 placeholder">
        <h4>Board #1</h4>
        <span class="circle img-responsive "></span>
    </div>
    <div class="col-xs-3 col-sm-2 placeholder">
        <h4>Board #1</h4>
        <span class="circle img-responsive "></span>
    </div>
</div>
{% endblock container %}

18 12