{% extends 'boards/base.html' %}
{% load bootstrap %}

{% block nav %}
    {{ block.super }}
        <div class="row">
            <div class="bg-sticker-top col-md-12">
            </div>
        </div>
{% endblock nav %}

{% block container %}
<div class="row">
    <div class="col-md-3">
        {% if action == 'DETAIL' %}
            <div class="border">
                <div class="sticker-info">
                    <ul>
                        <li><strong>Created by:</strong> {{ sticker.author }}</li>
                        <li><strong>Created date:</strong> {{ sticker.creation_date }}</li>
                        <li><strong>Last update date:</strong> {{ sticker.modification_date }}</li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-md-6 sticker preview">
        <div class="border">
            {% if form %}
                <div class="sticker-content">
                    <form id="sticker-form" action="?" role="form" method="post">
                        <div class="form-group">
                            {% csrf_token %}
                            <h4>User data</h4>
                            {{ form|bootstrap }}
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="sticker-header preview">
                    <h2>{{ sticker.caption }}</h2>
                    <div class="sticker-label preview">
                        {% if short_urls_allowed %}
                            <a class="sticker-number label bg-number preview" href="{% url 'boards:sticker-update' sticker.board.prefix sticker.sequence %}">{{ sticker.number }}</a>
                        {% else %}
                            <a class="sticker-number label bg-number preview" href="{% url 'boards:sticker-update' username sticker.board.prefix sticker.sequence %}">{{ sticker.number }}</a>
                        {% endif %}
                        <span class="label {{ sticker.label.css_class }}">{{ sticker.label.status|upper }}</span>
                    </div>
                </div>
                <div class="sticker-content preview">
                    <div class="sticker-description">
                        <p>
                            {{ sticker.description }}
                        </p>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="sticker-actions preview">
                    {% include 'boards/comments.html' %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock container %}

{% block footer %}
    {% if action %}
    <footer style="background: {{ sticker.label.color }}">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if action == 'DETAIL' %}
                    {% if short_urls_allowed %}
                        {% if sticker.sprint %}
                            <a class="btn btn-default" href="{% url 'boards:sprint-detail' sticker.board.sequence sticker.sprint.number %}">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Back to sprint #{{ sticker.sprint.number }}
                            </a>
                        {% else %}
                            <a class="btn btn-default" href="{% url 'boards:board-detail' sticker.board.sequence %}">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Back to board #{{ sticker.board.sequence }}
                            </a>
                        {% endif %}
                        <a class="btn btn-default" href="{% url 'boards:sticker-update' sticker.board.prefix sticker.sequence %}">
                            Update
                            <span class="sticker-number label bg-number preview {{ sticker.label.css_class }}">{{ sticker.number }}</span>
                        </a>
                    {% else %}
                        {% if sticker.sprint %}
                            <a class="btn btn-default" href="{% url 'boards:sprint-detail' username sticker.board.sequence sticker.sprint.number %}">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Back to sprint #{{ sticker.sprint.number }}
                            </a>
                        {% else %}
                            <a class="btn btn-default" href="{% url 'boards:board-detail' username sticker.board.sequence %}">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Back to board #{{ sticker.board.sequence }}
                            </a>
                        {% endif %}
                        <a class="btn btn-default" href="{% url 'boards:sticker-update' username sticker.board.prefix sticker.sequence %}">
                            Update
                            <span class="sticker-number label bg-number preview {{ sticker.label.css_class }}">{{ sticker.number }}</span>
                        </a>
                    {% endif %}
                {% elif action == 'UPDATE' %}
                    {% if short_urls_allowed %}
                        <a class="btn btn-default" href="{% url 'boards:sticker-detail' prefix sequence %}">
                    {% else %}
                        <a class="btn btn-default" href="{% url 'boards:sticker-detail' username prefix sequence %}">
                    {% endif %}
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Cancel
                        </a>
                    <button form="sticker-form" class="btn btn-default">
                        Save
                        <span class="sticker-number label bg-number preview {{ sticker.label.css_class }}">{{ sticker.number }}</span>
                    </button>
                {% elif action == 'CREATE' %}
                    {% if short_urls_allowed %}
                        <a class="btn btn-default" href="{% url 'boards:board-detail' board_sequence %}">
                    {% else %}
                        <a class="btn btn-default" href="{% url 'boards:board-detail' board_sequence %}">
                    {% endif %}
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Back to board #{{ board_sequence }}
                        </a>
                    <button form="sticker-form" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Add sticker
                    </button>
                {% endif %}
            </div>
        </div>
    </footer>
    {% endif %}
{% endblock footer %}
