{% extends 'boards/base.html' %}
{% load bootstrap %}

{% block nav %}
    {{ block.super }}
        <div class="row">
            <div class="bg-sticker-top col-md-12">
            </div>
        </div>
{% endblock nav %}

{% block container %}
<div class="row">
    <div class="col-md-3">.col-md-3</div>
    <div class="col-md-6 sticker preview">
        <div class="border">
            {% if form %}
                <div class="sticker-content">
                    <form id="sticker-form" action="?" role="form" method="post">
                        <div class="form-group">
                            {% csrf_token %}
                            <h4>User data</h4>
                            {{ form|bootstrap }}
                            <button type="submit" class="pull-right btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="sticker-header preview">
                    <h2>{{ sticker.caption }}</h2>
                    <div class="sticker-label preview">
                        {% if short_urls_allowed %}
                            <a class="sticker-number label bg-number preview" href="{% url 'boards:sticker-update' sticker.board.prefix sticker.sequence %}">{{ sticker.number }}</a>
                        {% else %}
                            <a class="sticker-number label bg-number preview" href="{% url 'boards:sticker-update' username sticker.board.prefix sticker.sequence %}">{{ sticker.number }}</a>
                        {% endif %}
                        <span class="label {{ sticker.label.css_class }}">{{ sticker.label.name|upper }}</span>
                    </div>
                </div>
                <div class="sticker-content preview">
                    <div class="sticker-description">
                        <p>
                            {{ sticker.description }}
                        </p>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="sticker-actions preview">
                    {% include 'boards/comments.html' %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3">.col-md-3</div>
</div>
{% endblock container %}

{% block footer %}
    {% if action %}
    <footer class="footer" style="background: {{ sticker.label.color }}">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if action == 'DETAIL' %}
                    {% if short_urls_allowed %}
                        <a class="btn btn-default" href="{% url 'boards:sticker-update' sticker.board.prefix sticker.sequence %}">
                            Update
                            <span class="sticker-number label bg-number preview {{ sticker.label.css_class }}">{{ sticker.number }}</span>
                        </a>
                    {% else %}
                        <a class="btn btn-default" href="{% url 'boards:sticker-update' username sticker.board.prefix sticker.sequence %}">
                            Update
                            <span class="sticker-number label bg-number preview {{ sticker.label.css_class }}">{{ sticker.number }}</span>
                        </a>
                    {% endif %}
                {% elif action == 'UPDATE' %}
                    <button form="sticker-form" class="btn btn-default">
                        Save
                        <span class="sticker-number label bg-number preview {{ sticker.label.css_class }}">{{ sticker.number }}</span>
                    </button>
                {% endif %}
            </div>
        </div>
    </footer>
    {% endif %}
{% endblock footer %}
