body {
    padding-top: 70px;
}

p {
    font-size: 1em;
    margin: 0;
}

a, a:hover
{
  text-decoration:none;
  color: inherit;
}

.labels {
    position: fixed;
    right: 0;
    left: 0;
    top: 50px;
    height: 10px;
    margin-bottom: 10px;
}

.bg-todo {
    color: #fff;
    background-color: #4A70A0;
}

.bg-sticker-top {
    height: 5px;
}

.bg-inprogress {
    color: #fff;
    background-color: #337ab7;
}

.bg-inreview {
    color: #fff;
    background-color: #ff5b3e;
}

.bg-done {
    color: #fff;
    background-color: #5cb85c;
}

.bg-blocked {
    color: #fff;
    background-color: #d9534f;
}

.bg-number {
    color: #777;
    background-color: #fff;
}

.bg-number.preview {
    color: #fff;
    background-color: #777;
}

.labels p {
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
    padding: 2px 0;
}

.border {
    border: 1px solid #eee;
    border-radius: 14px;
}

.border-radius {
    border-radius: 14px;
}

.login {
    padding: 0;
    position: relative;
}

.login form {
    margin-bottom: 30px;
    padding: 15px;
}

.sticker {
    padding: 10px 0;
    position: relative;
}

.sticker.preview {
    padding: 0;
}

.sticker.preview form {
    margin-bottom: 30px;
    padding: 15px;
}

.sticker-header {
    border-bottom: 1px solid #fff;
    padding: 0 15px;
}

.sticker-header.preview {
    border-bottom: 1px solid #eee;
    padding-right: 115px;
}

.sticker-content {
    border-bottom: 1px solid #fff;
    padding: 5px 15px;
}

.sticker-content.preview {
    border-bottom: 1px solid #eee;
}

.sticker-content.preview p {
    padding: 10px 0;
    font-size: 1.4em;
    word-wrap: break-word;
}

.sticker-empty {
    text-align: center;
    padding: 5px 15px;
}

.sticker-description {
}

.sticker-actions {
    text-align: right;
    padding: 5px 15px;
    font-size: 0.9em;
}

.sticker-actions.preview {
    padding-bottom: 20px;
    text-align: left;
}

.sticker-actions .glyphicon {
    top: 2px;
}

.author {
    text-align: right;
    margin-bottom: 0;
}

.author li {
    display: inline-block;
}

.author>li+li:before {
    color: #ccc;
    padding: 0 5px;
    content: "/\00a0";
}

.sticker-label {
    position: absolute;
    top: 18px;
    right: 15px;
}

.sticker-label.preview {
    margin-right: 15px;
    font-size: 150%;
}

.sticker-number {
    float: left;
    margin-top: 2px;
}

.sticker-actions .sticker-number:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #777 !important;
}

.sticker-number.preview {
    float: none;
}

.avatar {
    border-radius: 50%;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    width: 300px;
}

.avatar img {
    -webkit-transform: translate(-50%);
    height: 100%;
    margin-left: 100px;
}

.circle {
    border-radius: 50%;
    background: #337ab7;
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    height: 0;
    line-height: 0;
    margin: 0 auto;
    padding: 50% 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.circle:hover {
    background: #2e6da4;
    color: #fff;
    text-decoration: none;
}

.board-thumbnail {
    margin:0 auto;
    width:70%;
}

.no-content h4 {
    padding-bottom: 10px;
}

.nav-action {
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    right: 7px;
    top: 3px;
}

.nav-action:hover {
    color: #777;
    background-color: #fff;
    border-radius: .25em;
    position: absolute;
    padding: 0.07em 0.15em 0.07em;
    right: 5px;
}

.auth-message {
    padding: 20px;
}

.auth-message a {
    position: absolute;
    right: 15px;
}

footer {
   background: #eee;
   bottom: 0px;
   height: 60px;
   left: 0px;
   padding-top: 10px;
   position: fixed;
   width: 100%;
   z-index: 10;
}

#sticker-form {
    padding: 0;
    margin-bottom: 60px;
}

/* OVERRIDDEN BOOTSTRAP CLASSES */
blockquote {
    font-style: italic;
    border-left: none;
    color: #777;
}

blockquote::before{
    content: "\"";
}

blockquote::after{
    content: "\"";
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.placeholder h4 {
    padding-bottom: 10px;
}

.well {
    margin-bottom: 0;
}
